
*{
  margin: 0;
  padding: 0;

}


body {
    font-family: "Raleway", sans-serif;
  }
  
  /* portada */
  
  .portada{
    background-image: url("../css/img/143154d87da06501.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
  }
  
  /* Mis paginas */
  
  #trabajos .image-top {
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
